<body>
  <div class="jumbotron">

    <h2>Welcome to Dance Studio</h2>
    <button style="float: right;margin-top: -48px;margin-right: 108px;"class="btn btn-danger" value="Subscribe" (click)="registrationPage()">Subscribe</button>



  <button style="float: right;margin-top: -48px;"class="btn btn-info" value="Login" (click)="loginPage()">Login</button>
  
  </div>
  <div class ="container">
    <h1 style='color:blueviolet;'>> Learn To Dance In 2 Months</h1>
    <br>
    <h1 align='center'style='color:rgb(43, 144, 226);'>Why Choose Our School</h1>
    <br>
    <h2>100% Result Guarantee</h2>
    <h2>Famous Trainers</h2>
    <h2>3 Years Of Experience</h2>
    <h2>1000+ Happy Clients</h2>
    <h2>Flexible Timetable</h2>
    <h2>Comfortable Location</h2>

  </div>
  <div class ="container">
    <h1 align='center'style='color:rgb(43, 144, 226);'>Choose Your Dance Style</h1>
    <br>
    <h2>Contemporary Dance</h2>
    <h2>Hip-Hop</h2>
  </div>
  <div class ="container">
    <h1 align='center'style='color:rgb(43, 144, 226);'>Choose Your Locations</h1>
    <br>
    <h2>Bangalore</h2>
    <h2>Mumbai</h2>
    <h2>Chennai</h2>
  </div>
  <div class ="container">
    <h1 align='center'style='color:rgb(43, 144, 226);'>Pricing Tables</h1>
    <br>
    <h2>1 Individual Classes-2days/week-3000/month</h2>
    <h2>2 Individual Classes-3days/week-4000/month</h2>
    <h2>Individual Classes-5days/week-5000/month</h2>
  </div>

  
</body>
  <footer>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p>Copyright © 2019 All Right Reserved.| Created By - Capgemini Technology Services India</p>
                </div>
            </div>
        </div>
    
    </div>
    
    
    </footer>

