<div  class="jumbotron text-center">
  <h1 >ADD CHOREOGRAPHERS</h1>
  <br/>
  <br/>
  <h3>Click on Add choreographer button to Add choreographers</h3>
  <br/>
    <button  class="btn btn-primary"  routerLink='/addchoreographer'>Add Choreographers</button>
  </div>

  <footer>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p>Copyright © 2019 All Right Reserved.| Created By - Capgemini Technology Services India</p>
                </div>
            </div>
        </div>
    
    </div>
    
    
    </footer>
