#form_login {
    left: 68%;
    top: 60%;
    margin-left: -25%;
    position: absolute;
    margin-top: -18%;
}
#colour{
    background-color: burlywood
}

footer {
    background: #262626;
    padding-top: 30px;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    margin-top: 750px;
}
.copyright {
    text-align: center;
    color: #fff;
    background: #161616;
    padding: 15px;
} 