footer {
    background: #262626;
    padding-top: 30px;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    margin-top: 350px;
}
.copyright {
    text-align: center;
    color: #fff;
    background: #161616;
    padding: 15px;
} 
table {
    width: 100%;
  }

  th.mat-sort-header-sorted {
    color: black;
  }